/* CSS by Ryze#7988 and .Razor#0900*/

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap');

@font-face {
	font-family: inter;
	src: url('/ui/fonts/Inter.ttf');
}

@font-face {
	font-family: baloo;
	src: url('/ui/fonts/BalooBhai2.ttf');
}

body {
    overflow: hidden;
    width: 100%;
    height: 100%;
    background: transparent !important;
}

#floating {
    font-family: baloo;
    position: absolute;
    height: 20%;
    width: 18%;
    left: 10%;
    top: 57%;
    transform: translate(-50%, -50%);
}

#floating-content {
    text-align: center;
    padding: 2%;
    margin: 2%;
    font-size: 14px;
	color: rgb(226, 226, 226); 
    border-radius: 5px; 
    background-color: rgba(0, 0, 0, 0.6);
    box-shadow: 0 0 10px black;
    -webkit-animation: fadeIn 1s linear forwards;
    animation: fadeIn 1s linear forwards;
}

.blue {color: #22b2dd;}
.red {color: #f34545;}
.green {color: #32b643;}
.yellow {color: #fffb00;} 
.purple {color: #e19fff;}
.grey {color: #cfcfcf;}
.darkgrey {color: #8d8d8d;}
.black {color: #000000;}
.gold {color: #e0d100;}

@keyframes fadeIn { 
	from { 
		opacity:0; 
		opacity: 1\9;
	} 
	to { 
		opacity:1; 
	} 
}